{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block body %}
    <div class="core">
        <h1> Set up your profile and page settings</h1>

        <a href="{{ path('app_watchlist') }}" class="my-2 btn">
            Back
        </a>
        {% if app.user %}
            <a href="{{ path('app_usercrud_edit', {'id': app.user.id }) }}" class="my-2 btn">
                Edit
            </a>
            <form method="post" action="{{ path('app_usercrud_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Are you sure you want to delete your account?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                <button class="my-2 btn">
                    Delete
                </button>
            </form>
            <a href="{{ path('app_logout') }}" class="my-2 btn">
                Logout
            </a>
        {% endif %}

    </div>
    
{% endblock %}
